In [1]:
import pandas as pd
import json

In [2]:
path = '/home/gustavo/data-engineering-fakestore/data/bronze/products/products.json'

with open(path) as f:
    data = json.load(f)

In [3]:
df = pd.json_normalize(data)
df.head()

,id,title,price,description,category,image,rating.rate,rating.count
0,1,"Fjallraven - Foldsack No. 1 Backpack, Fits 15 ...",109.95,Your perfect pack for everyday use and walks i...,men's clothing,https://fakestoreapi.com/img/81fPKd-2AYL._AC_S...,3.9,120
1,2,Mens Casual Premium Slim Fit T-Shirts,22.30,"Slim-fitting style, contrast raglan long sleev...",men's clothing,https://fakestoreapi.com/img/71-3HjGNDUL._AC_S...,4.1,259
2,3,Mens Cotton Jacket,55.99,great outerwear jackets for Spring/Autumn/Wint...,men's clothing,https://fakestoreapi.com/img/71li-ujtlUL._AC_U...,4.7,500
3,4,Mens Casual Slim Fit,15.99,The color could be slightly different between ...,men's clothing,https://fakestoreapi.com/img/71YXzeOuslL._AC_U...,2.1,430

In [13]:
# capitalize the first letter of each word in `category`
df['category'] = df['category'].apply(lambda s: ' '.join(w.capitalize() for w in s.split()))
df.head()

,id,title,price,description,category,image,rating.rate,rating.count
0,1,"Fjallraven - Foldsack No. 1 Backpack, Fits 15 ...",109.95,Your perfect pack for everyday use and walks i...,Men's Clothing,https://fakestoreapi.com/img/81fPKd-2AYL._AC_S...,3.9,120
1,2,Mens Casual Premium Slim Fit T-Shirts,22.30,"Slim-fitting style, contrast raglan long sleev...",Men's Clothing,https://fakestoreapi.com/img/71-3HjGNDUL._AC_S...,4.1,259
2,3,Mens Cotton Jacket,55.99,great outerwear jackets for Spring/Autumn/Wint...,Men's Clothing,https://fakestoreapi.com/img/71li-ujtlUL._AC_U...,4.7,500
3,4,Mens Casual Slim Fit,15.99,The color could be slightly different between ...,Men's Clothing,https://fakestoreapi.com/img/71YXzeOuslL._AC_U...,2.1,430

In [14]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            4 non-null      int64
 1   title         4 non-null      str
 2   price         4 non-null      float64
 3   description   4 non-null      str
 4   category      4 non-null      str
 5   image         4 non-null      str
 6   rating.rate   4 non-null      float64
 7   rating.count  4 non-null      int64
dtypes: float64(2), int64(2), str(4)
memory usage: 388.0 bytes

In [15]:
df['price'].describe

<bound method NDFrame.describe of 0    109.95
1     22.30
2     55.99
3     15.99
Name: price, dtype: float64>